<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <% include ./partials/header %>
</head>

<body>
  <% include ./partials/banner %>
  <div class="mui-container">
    <h1>Here is file descriptions</h1>
    <table class="mui-table mui-table--bordered">
      <thead>
        <tr>
          <th>New Filename</th>
          <th>Size</th>
          <th>MD5 checksum of file</th>
          <th>Upload at</th>
          <th><i class="fa fa-download"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= file.filename %></td>
          <td><%= file.length %></td>
          <td><%= file.md5 %></td>
          <td><%= file.uploadDate %></td>
          <td><a href="/download/<%= file.filename %>"><i class="fa fa-cloud-download"></i></a></td>
        </tr>
      </tbody>
    </table>

    <button class="mui-btn mui-btn--raised mui-btn--primary" onclick="window.location='/';">
      Go back
    </button>

  </div>
</body>

</html>
